include COPYING
include Makefile
include NEWS
include README.rst
include __pkginfo__.py
include test/make-check-filter.py
recursive-include trepan/processor/command/help *.rst
recursive-include test/data *.cmd
recursive-include test/data *.right
recursive-include test/data Makefile
recursive-include test/example *.py
recursive-include test/example Makefile
recursive-include test/functional *.py
recursive-include test/integration *.py
recursive-include test/unit *.py
